{% extends "base.html" %}

{% block header %}
    <h2>
        {{object}}
    </h2>
{% endblock %}

{% block body %}
    <section>
        {% for message in messages %}
            <div role="alert" class="alert {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-danger{% else %}alert-success{% endif %}">
                {{ message }}
            </div>
        {% endfor %}

        {% if not current_participation %}
            <div class="col-12">
                <a class="button primary" href="{{register_link}}">S'inscrire</a>
            </div>
        {% elif not object.is_open %}
            Tu es inscrit. Le quiz n'a pas encore commencé.
        {% elif current_participation.quiz.is_finished %}
            Le quiz est terminé.
        {% elif not current_question %}
            Le quiz a commencé, rafraichis cette page quand la/le MJ te donne le top départ
        {% endif %}

        {% if current_participation %}
            <h2>
                {{current_question.question}}
            </h2>

            {% if correct_answer %}
                <h3>Bravo, tu as trouvé.</h3>
            {% else %}
                {% for choice in current_question.choice_set.all %}
                    <form action="{{choice.answer_url}}">
                        <button type="submit" value="{{choice.id}}">{{choice.name}}</button>
                    </form>
                {% endfor %}
            {% endif %}
        {% endif %}

        <div style="margin-top: 100px">
            {% if current_score %}
                <h3>Mon score à cette question : {{current_score}}</h3>
            {% endif %}
            {% if correct_answer %}
                <h3>Mon classement à cette question : {{correct_answer.rank}}</h3>
            {% endif %}
            <h3>Mon score total : {{current_participation.score}}</h3>
            <h3>Mon classement : {{current_participation.rank}}</h3>
        </div>

        <div class="col-12" style="margin-top: 100px">
            <a class="button primary" href="/chucky">Reviendre où que j'étais</a>
        </div>
    </section>
{% endblock %}
