{% extends "base.html" %}

{% block body %}
    <section>
        <h4>
            {{object}}
        </h4>

        <div class="gtr-uniform" style="margin-bottom: 50px">
            {% if object.start_date and object.end_date %}
                Du {{object.start_date}} au {{object.end_date}}
            {% endif %}
        </div>

        <div class="gtr-uniform" style="margin-bottom: 50px">
            <h4>Étaient présent.e.s :</h4>
            {% for person in object.coming_persons.all %}
                <div>- {{person.user.user.first_name}} {{person.user.user.last_name}}</div>
            {% endfor %}
        </div>

        {% if edition.photo_album_link %}
            <div class="gtr-uniform" style="margin-bottom: 50px">
                <div class="col-12">
                    <a class="button primary"
                       href="{{edition.photo_album_link}}"
                       target="_blank">
                        Voir l'album photo
                    </a>
                </div>
            </div>
        {% endif %}

        <div class="col-12">
            <a class="button primary" href="/chucky">Reviendre où que j'étais</a>
        </div>
    </section>
{% endblock %}
