{% extends "base.html" %}

{% block header %}
    <h2>Coucou petite perruche !</h2>
    <p>Ou {{user.first_name}} {{user.last_name}}, d'après Chucky</p>
{% endblock %}

{% block body %}
    <section>
        <div class="row gtr-uniform" style="margin-bottom: 50px">
            <h3>Mais qui suis-je ? Où vais-je ? Pourquoi-je ?</h3>
        </div>

        {{ form.media }}
        <form method="post" action="">
            {% csrf_token %}

            <h4>Contact</h4>
            <div class="row gtr-uniform" style="margin-bottom: 50px">
                <div class="col-6 col-12-xsmall">
                    {% if form.errors.phone %}
                        <span class="error">C'est quoi ce numéro de téléphone ?</span>
                    {% endif %}
                    <input type="text" name="{{form.phone.html_name}}"
                           id="{{form.phone.id_for_label}}" value="{{form.phone.value|default_if_none:''}}"
                           placeholder="{{form.phone.label}}" />
                </div>
                <div class="col-6 col-0-xsmall"></div>
                <div class="col-6 col-12-xsmall">
                    <input type="checkbox" name="{{form.accept_phone_sharing.html_name}}"
                           {% if form.accept_phone_sharing.value %}checked="checked"{% endif %}
                           id="{{form.accept_phone_sharing.id_for_label}}" />
                    <label for="{{form.accept_phone_sharing.id_for_label}}">{{form.accept_phone_sharing.label}}</label>
                </div>
                <div class="col-6 col-12-xsmall">
                    <input type="checkbox" name="{{form.accept_email_sharing.html_name}}"
                           {% if form.accept_email_sharing.value %}checked="checked"{% endif %}
                           id="{{form.accept_email_sharing.id_for_label}}" />
                    <label for="{{form.accept_email_sharing.id_for_label}}">{{form.accept_email_sharing.label}}</label>
                </div>
            </div>

            <h4>Le mangeage</h4>
            <div class="row gtr-uniform" style="margin-bottom: 50px">
                <div class="col-6 col-12-xsmall">
                    {% if form.errors.special_diet %}
                        <span class="error">{{ form.errors.special_diet }}</span>
                    {% endif %}
                    <input type="text" name="{{form.special_diet.html_name}}"
                           id="{{form.special_diet.id_for_label}}" value="{{form.special_diet.value|default_if_none:''}}"
                           placeholder="{{form.special_diet.label}} (végétarien, allergies, ...)" />
                </div>
            </div>

            <h4>Et le boiveage</h4>
            <div class="row gtr-uniform" style="margin-bottom: 50px">
                <div>
                    Parce que maintenant on se fournis chez notre très cher brasseur
                    de la <a href="https://jugementdernier.beer/">brasserie du Jugement Dernier</a>.
                    Vous pouvez voir les bières possibles <a href="https://jugementdernier.beer/nos-bieres/">ici</a>.
                    Je vous propose donc de voter pour les bières que vous voudriez qu'on prende (0 c'est nul caca boudin, 10, c'est Yummy je veux goûter !) :
                </div>
                <div class="col-4 col-6-xsmall">
                    L'Immor'Ale
                    {% if form.errors.immor_ale %}
                        <span class="error">{{ form.errors.immor_ale }}</span>
                    {% endif %}
                    <input type="number" min="0" max="10" name="{{form.immor_ale.html_name}}"
                           id="{{form.immor_ale.id_for_label}}" value="{{form.immor_ale.value|default_if_none:''}}"
                           placeholder="10" />
                </div>
                <div class="col-4 col-6-xsmall">
                    La Féod'Ale
                    {% if form.errors.feod_ale %}
                        <span class="error">{{ form.errors.feod_ale }}</span>
                    {% endif %}
                    <input type="number" min="0" max="10" name="{{form.feod_ale.html_name}}"
                           id="{{form.feod_ale.id_for_label}}" value="{{form.feod_ale.value|default_if_none:''}}"
                           placeholder="10" />
                </div>
                <div class="col-4 col-6-xsmall">
                    La Glaci'Ale
                    {% if form.errors.glaci_ale %}
                        <span class="error">{{ form.errors.glaci_ale }}</span>
                    {% endif %}
                    <input type="number" min="0" max="10" name="{{form.glaci_ale.html_name}}"
                           id="{{form.glaci_ale.id_for_label}}" value="{{form.glaci_ale.value|default_if_none:''}}"
                           placeholder="10" />
                </div>
                <div class="col-4 col-6-xsmall">
                    La Spectr'Ale
                    {% if form.errors.spectr_ale %}
                        <span class="error">{{ form.errors.spectr_ale }}</span>
                    {% endif %}
                    <input type="number" min="0" max="10" name="{{form.spectr_ale.html_name}}"
                           id="{{form.spectr_ale.id_for_label}}" value="{{form.spectr_ale.value|default_if_none:''}}"
                           placeholder="10" />
                </div>
                <div class="col-4 col-6-xsmall">
                    La Brut'Ale
                    {% if form.errors.brut_ale %}
                        <span class="error">{{ form.errors.brut_ale }}</span>
                    {% endif %}
                    <input type="number" min="0" max="10" name="{{form.brut_ale.html_name}}"
                           id="{{form.brut_ale.id_for_label}}" value="{{form.brut_ale.value|default_if_none:''}}"
                           placeholder="10" />
                </div>
                <div class="col-4 col-6-xsmall">
                    L'Infern'Ale
                    {% if form.errors.infern_ale %}
                        <span class="error">{{ form.errors.infern_ale }}</span>
                    {% endif %}
                    <input type="number" min="0" max="10" name="{{form.infern_ale.html_name}}"
                           id="{{form.infern_ale.id_for_label}}" value="{{form.infern_ale.value|default_if_none:''}}"
                           placeholder="10" />
                </div>
                <div class="col-4 col-6-xsmall">
                    L'Ancestr'Ale
                    {% if form.errors.ancestr_ale %}
                        <span class="error">{{ form.errors.ancestr_ale }}</span>
                    {% endif %}
                    <input type="number" min="0" max="10" name="{{form.ancestr_ale.html_name}}"
                           id="{{form.ancestr_ale.id_for_label}}" value="{{form.ancestr_ale.value|default_if_none:''}}"
                           placeholder="10" />
                </div>
                <div class="col-4 col-6-xsmall">
                    L'Abyss'Ale
                    {% if form.errors.abyss_ale %}
                        <span class="error">{{ form.errors.abyss_ale }}</span>
                    {% endif %}
                    <input type="number" min="0" max="10" name="{{form.abyss_ale.html_name}}"
                           id="{{form.abyss_ale.id_for_label}}" value="{{form.abyss_ale.value|default_if_none:''}}"
                           placeholder="10" />
                </div>
            </div>

            <div class="row gtr-uniform" style="margin-bottom: 50px">
                <div class="col-12">
                    <ul class="actions">
                        <li><button type="submit" class="primary">Enregistrer</button></li>
                    </ul>
                    <p>J'accepte que l'organisateur utilise ces informations à toutes les fins qu'il lui siéra, ainsi qu'à les partager à tous ses partenaires commerciaux (SFR notamment, mais pas exclusivement)</p>
                </div>
            </div>
        </form>
    </section>
{% endblock %}
