{% extends "styleless_base.html" %}

{% block header %}
    <h2>Coucou petite perruche !</h2>
    <p>Ou {{user.first_name}} {{user.last_name}}, d'après Chucky</p>
{% endblock %}

{% block body %}
    <section>
        <div class="row gtr-uniform" style="margin-bottom: 50px">
            <h3>Ptit formulaire pour l'orga, pour les gens avec un iphone de merde..</h3>
            <div>(si tu peux pas viendre, go en bas de la page)</div>
        </div>

        {{ form.media }}
        <form method="post" action="">
            {% csrf_token %}
            <h4>Dates de départ/arrivée (mêmes approximatives)</h4>
            <div class="row gtr-uniform" style="margin-bottom: 50px;">
                {% if form.errors.start_datetime or form.errors.end_datetime %}
                    <span class="error">Il dit qu'il comprend pas tes dates</span>
                {% endif %}
                Date d'arrivée
                <div class="col-3 col-6-small">
                    <input type="date" name="{{form.start_datetime.html_name}}_0"
                           min="{{start_date}}" max="{{end_date}}" required="required"
                           id="{{form.start_datetime.id_for_label}}_0" value="{{form.start_datetime.value|date:'Y-m-d'}}"
                           placeholder="{{form.start_datetime.label}}" />
                </div>
                Heure d'arrivée
                <div class="col-3 col-6-small">
                    <input type="time" name="{{form.start_datetime.html_name}}_1"
                           step="1:00" required="required"
                           id="{{form.start_datetime.id_for_label}}_1" value="{{form.start_datetime.value|date:'H:i'}}"
                           placeholder="{{form.start_datetime.label}}" />
                </div>
                Date de rentrage chez toi
                <div class="col-3 col-6-small">
                    <input type="date" name="{{form.end_datetime.html_name}}_0"
                           min="{{start_date}}" max="{{end_date}}" required="required"
                           id="{{form.end_datetime.id_for_label}}_0" value="{{form.end_datetime.value|date:'Y-m-d'}}"
                           placeholder="{{form.end_datetime.label}}" />
                </div>
                Heure de rentrage chez toi
                <div class="col-3 col-6-small">
                    <input type="time" name="{{form.end_datetime.html_name}}_1"
                           step="1:00" required="required"
                           id="{{form.end_datetime.id_for_label}}_1" value="{{form.end_datetime.value|date:'H:i'}}"
                           placeholder="{{form.end_datetime.label}}" />
                </div>
                <div class="col-6 col-12-xsmall">
                    <input type="checkbox" name="{{form.accept_date_sharing.html_name}}"
                           {% if form.accept_date_sharing.value %}checked="checked"{% endif %}
                           id="{{form.accept_date_sharing.id_for_label}}" />
                    <label for="{{form.accept_date_sharing.id_for_label}}">Accepte le partage de ses dates</label>
                </div>
            </div>

            <h4>Comment que tu viens ?</h4>
            <div class="row gtr-uniform" style="margin-bottom: 50px">
                {% if form.errors.transport_message %}
                    <span class="error">{{ form.errors.transport_message }}</span>
                {% endif %}
                <div class="col-6 col-12-xsmall">
                    <input type="text" name="{{form.transport_message.html_name}}"
                           id="{{form.transport_message.id_for_label}}" value="{{form.transport_message.value|default_if_none:''}}"
                           placeholder="Je viens en chien, avec Germaine, ..." />
                </div>
            </div>

            <h4>Et le dormage</h4>
            <div class="row gtr-uniform" style="margin-bottom: 50px">
                <div class="col-6 col-12-xsmall">
                    {% if form.errors.ask_bedroom %}
                        <span class="error">{{ form.errors.ask_bedroom }}</span>
                    {% endif %}
                    <input type="text" name="{{form.ask_bedroom.html_name}}"
                           id="{{form.ask_bedroom.id_for_label}}" value="{{form.ask_bedroom.value|default_if_none:''}}"
                           placeholder="Tente, Cuisine, Chambre (Précisez avec qui)" />
                </div>
            </div>

            <h4>Canoë</h4>
            <div class="row gtr-uniform" style="margin-bottom: 50px">
                <div class="col-6 col-12-xsmall">
                    <input type="checkbox" name="{{form.want_to_canoe.html_name}}"
                           id="{{form.want_to_canoe.id_for_label}}" {% if form.want_to_canoe.value %}checked="checked"{% endif %} />
                    <label for="{{form.want_to_canoe.id_for_label}}">Je veux faire du canoë</label>
                </div>
            </div>

            <div class="row gtr-uniform" style="margin-bottom: 50px">
                <div class="col-12">
                    <ul class="actions">
                        <li><button type="submit" class="primary">Enregistrer</button></li>
                    </ul>
                    <p>J'accepte que l'organisateur utilise ces informations à toutes les fins qu'il lui siéra, ainsi qu'à les partager à tous ses partenaires commerciaux (SFR notamment, mais pas exclusivement)</p>
                </div>
            </div>
        </form>

        <div class="row gtr-uniform" style="margin-top: 200px; margin-bottom: 50px;">
            <h4 style="margin-top: 50px">Et si je peux pas viendre</h4>
            <span>
                Bâ c'est vrai que si tu peux pas venir, t'avais pas besoin de remplir ce formulaire (bravo si t'y as pensé, petit génie).
                <br />Cliques sur le bouton en dessous pour nous prévenir.
                <br />Tu peux aussi nous envoyer un message par un média quelconque (sauf BFMerde)
            </span>
        </div>

        <form method="post" action="/cant_come">
            {% csrf_token %}
            <button type="submit" class="primary">JPEUX PÂÂÂÂÂÂSS</button>
        </form>
    </section>
<!--        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />-->
<!--        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>-->
{% endblock %}
