{% extends "base.html" %}

{% block body %}
    <section>
        <div class="col-12"
             style="margin-top: -50px; margin-bottom: 50px; text-align: right">
            <span class="icon solid fa-ship"></span> = team canoë
        </div>
        {% for obj in object_list %}
            <div class="row gtr-uniform" style="margin-bottom: 50px">
                <div class="col-12">
                    <div class="col-12">
                        <h4>
                            {{obj.user.user.first_name}} {{obj.user.user.last_name}}
                            {% if obj.want_to_canoe %}
                                <span class="icon solid fa-ship"></span>
                            {% endif %}
                        </h4>
                    </div>
                    <div class="col-12">
                        <ul class="alt">
                            {% if obj.user.accept_email_sharing and obj.user.user.email %}
                                <li>
                                    <a href="mailto:{{obj.user.email}}">{{obj.user.user.email}}</a>
                                </li>
                            {% endif %}
                            {% if obj.user.accept_phone_sharing and obj.user.phone %}
                                <li>
                                    <a href="tel:{{obj.phone}}">{{obj.user.phone}}</a>
                                </li>
                            {% endif %}
                            {% if obj.accept_date_sharing %}
                                <li>
                                    {{obj.user.first_name}} viendra du {{obj.start_datetime|date:'l d/m/Y à H:i'}} au {{obj.end_datetime|date:'l d/m/Y à H:i'}} environ
                                </li>
                            {% endif %}
                            {% if obj.transport_message %}
                                <li>
                                    {{obj.transport_message}}
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="col-12">
            <a class="button primary" href="/chucky">Reviendre où que j'étais</a>
        </div>
    </section>
{% endblock %}
