{% extends "base.html" %}
{% load static %}

{% block body %}
    <section>
        <div class="row gtr-uniform" style="margin-bottom: 50px">
            <div class="col-12">
                <h4>Je viens ou je pense venir, pour l'organisation :</h4>
                <a class="button primary fit" href="/chuckyyyyy">Je raconte comment</a>
                <a class="button primary fit" href="/chucqui">Je raconte qui je suis</a>
            </div>

            <div class="col-12">J'ai déjà indiqué :</div>

            <div class="col-12">
                <ul class="alt">
                    <li>
                        Je suis <b>{{object.user.user.first_name}} {{object.user.user.last_name}}</b>
                    </li>
                    <li>
                        Mon mail est <b>{{object.user.user.email}}{% if not object.user.accept_email_sharing %} (ne pas partager){% endif %}</b> et mon numéro de téléphone est <b>{{object.user.phone}}{% if not object.user.accept_phone_sharing %} (ne pas partager){% endif %}</b>
                    </li>
                    <li>
                        Je viendrai du <b>{{object.start_datetime|date:'l d/m/Y à H:i'}} au {{object.end_datetime|date:'l d/m/Y à H:i'}}</b> environ
                    </li>
                    <li>
                        Pour le transport :
                        <b>{{object.transport_message}}</b>
                    </li>
                    <li>
                        Mon régime alimentaire <b>{{object.user.special_diet}}</b>
                    </li>
                    <li>
                        J'ai voté :
                        {% if object.user.immor_ale is not None %}L'Immor'Ale <b>{{object.user.immor_ale}}</b>{% endif %}
                        {% if object.user.feod_ale is not None %}La Féod'Ale <b>{{object.user.feod_ale}}</b>{% endif %}
                        {% if object.user.glaci_ale is not None %}La Glaci'Ale <b>{{object.user.glaci_ale}}</b>{% endif %}
                        {% if object.user.spectr_ale is not None %}La Spectr'Ale <b>{{object.user.spectr_ale}}</b>{% endif %}
                        {% if object.user.brut_ale is not None %}La Brut'Ale <b>{{object.user.brut_ale}}</b>{% endif %}
                        {% if object.user.infern_ale is not None %}L'Infern'Ale <b>{{object.user.infern_ale}}</b>{% endif %}
                        {% if object.user.ancestr_ale is not None %}L'Ancestr'Ale <b>{{object.user.ancestr_ale}}</b>{% endif %}
                        {% if object.user.abyss_ale is not None %}L'Abyss'Ale <b>{{object.user.abyss_ale}}</b>{% endif %}
                    </li>
                    <li>
                        Je dors : <b>
                        {% if object.sleeping_place %}
                            {% if object.sleeping_place == "bedroom" or object.sleeping_place == "plus_one" %}
                                Une chambre t'es reservée
                            {% elif object.sleeping_place == "tent" %}
                                Tente
                            {% else %}
                                {{object.sleeping_place}}
                            {% endif %}
                        {% else %}
                            {{object.ask_bedroom}}
                        {% endif %}
                    </b>
                    </li>
                    <li>
                        Je <b>{% if object.want_to_canoe %}veux{% else %}ne veux pas{% endif %}</b> faire du canoë
                    </li>
                    <li>
                        <b>
                            {% if object.due_amount == 0 and object.contribution_amount != 0 %}
                                J'ai payé {{ object.paid_amount }} € (soit {{ object.beer_amount }} € de cotisation bière{% if object.beer_amount > 0 %} ❤️ ❤️ ❤️{% endif %})
                                <h4>Yeaaah ! Merci d'avoir payé, c'est cooloss !</h4>
                            {% elif object.paid_amount > 0 %}
                                J'ai payé {{ object.paid_amount }} €, mais ma cotisation est de {{ object.contribution_amount }} €, il manque donc {{ object.due_amount }} €
                                <h4>Yeaaah ! Merci d'avoir payé, c'est cooloss !</h4>
                            {% else %}
                                Je n'ai pas payé ma cotisation de {{object.contribution_amount}} €
                            {% endif %}
                        </b>
                    </li>
                    {% if object.invitation_list %}
                        <li>
                            Je voudrai inviter :
                            <br/>
                            {{object.invitation_list}}
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% if object.due_amount and current_edition.payable %}
            <div class="row gtr-uniform" style="margin-bottom: 100px">
                <div class="col-12">
                    <h4>Pour payer :</h4>
                    Le prix est de 20 balles par jour-soirée. Maintenant, je le calcule automatiquement et pour toi, ça donne : {{object.contribution_amount}} €
                    <br/>Pour explication, 2 exemples :
                    <br/>- Si tu viens le vendredi soir à minuit, que tu rentres à ta maison le dimanche midi, ça fait 40 balles.
                    <br/>- Si tu viens le jeudi matin (attention, je sais pas si on est là déjà), et que tu repars à 23h le dimanche (attentions je sais pas si on sera encore là), ça fait 60 €.
                    <br/>- Si t'as pas compris, c'est chaud, mais tu peux m'appeler / m'envoyer un mail pour que je t'aide à compter les sousous.
                    <br/>
                    <br/>Parce qu'on se fournit maintenant chez un brasseur trop bien (<a href="https://jugementdernier.beer/">la brasserie du Jugement Dernier</a>), c'est un peu plus cher, et c'est de la pression donc on en boit plus.
                    Donc le budget ne prendra pas en charge toute la bière, comme l'année dernière. Vous pouvez donc participer plus, pour qu'on achète plus de bière. 100% de votre participation au delà des 20€/j est dédié à l'achat de bière supplémentaire. Et pour info, la pinte revient à ~2.50€.

                    <br/>
                    <br/>
                    <br/>
                    <h5>Et comment que je paye ?</h5>
                    <ul>
                        <li style="margin-bottom: 20px">
                            Je fais un virement à Miaou (Recommandé. Pliz, si tout le monde fait un Lydia on aura des frais..)
                            <label>IBAN :</label>
                            <input type="text"
                                   value="{{current_edition.payment_iban}}"
                                   id="IBANInput"
                                   readonly>
                            <br/>BIC : {{current_edition.payment_bic}}
                            <br/>QUI : {{current_edition.payment_owner_name}}
                            <div>
                                <button class="button primary fit" onclick="copyIBAN()">
                                    Copiter l'IBAN
                                </button>
                            </div>
                            <script>
                                 function copyIBAN() {
                                  var copyText = document.getElementById("IBANInput");

                                  copyText.select();
                                  copyText.setSelectionRange(0, 99999); /* For mobile devices */

                                  navigator.clipboard.writeText(copyText.value);
                                  alert("Copié l'IBAN : " + copyText.value + ". Payes maintenant.");
                                }
                            </script>
                        </li>
                        <li>
                            Je fais un Lydia à Miaou ou Miaoue
                            <br/>
                            {% if current_edition.lydia_link %}
                                <a class="button primary fit"
                                   target="_blank"
                                   href="{{current_edition.lydia_link}}">
                                    Go Lydia
                                </a>
                            {% else %}
                                Pas de cagnotte pour l'instant, mais avec le numéro ça marche bien
                            {% endif %}

                        </li>
                    </ul>

                </div>
            </div>
        {% elif not current_edition.payable %}
            <div class="row gtr-uniform" style="margin-bottom: 100px">
                <h4>Pour cette fois, pour le péage, on fera autrement, parce qu'on va ptetr se faire un peu plaiz', et que je vais pas inventer le budget</h4>
            </div>
        {% endif %}

        <div class="row">
            {% if current_edition.signal_group_id %}
                <div class="col-6 row gtr-uniform" style="margin-bottom: 100px">
                    <div class="col-12">
                        <h4>Pour parler avec les autres gens qui viendent :</h4>
                        <a class="button primary fit" href="{{signal_link}}">
                            Je rejoins le groupe Signal
                        </a>
                        <br/>
                        Ou le QR code pour les ptits fifous
                        <br/>
                        <div id="signal_qrcode"></div>
                    </div>
                </div>
            {% endif %}

            {% if current_edition.signal_transport_group_id %}
                <div class="col-6 row gtr-uniform" style="margin-bottom: 100px">
                    <div class="col-12">
                        <h4>Pour parler plus spécifiquement du transport (covoiturage notamment) :</h4>
                        <a class="button primary fit" href="{{signal_transport_link}}">
                            Je rejoins le groupe Signal
                        </a>
                        <br/>
                        <div id="signal_transport_qrcode"></div>
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="row gtr-uniform" style="margin-bottom: 100px">
            <div class="col-12">
                <h4>Et que c'est où déjà ?</h4>
                C'est au 18 rue des Billys, à Saulzet.
                <br/>
                <iframe src="https://www.google.com/maps/embed?pb=!4v1622039385556!6m8!1m7!1sQ28xNzeLhzhWWZSrzs-WiA!2m2!1d46.13814213080988!2d3.215089982122076!3f46.10751252123538!4f-8.90077757105523!5f0.7820865974627469" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>

        {% if event_invitation_file_exists %}
            <div class="row gtr-uniform" style="margin-bottom: 100px">
                <div class="col-12">
                    <h4>Ajouter à mon agenda</h4>
                    <a class="button primary fit"
                       href="{% get_static_prefix %}event_invitations/{{current_edition.get_event_invitation_file_name}}">
                        Ajouter à mon agenda j'ai dit
                    </a>
                    <br/>
                    (Sorry pour mes amis sur Android, ça marche pas automagiquement, faut une appli... Si un copain a un tips, je prends.)
                </div>
            </div>
        {% endif %}

        <div class="row gtr-uniform" style="margin-bottom: 20px">
            <div class="col-12">
                <h4>Point budget</h4>
                <b>{{current_edition.coming_count}}</b> personnes sont attendues pour l'instant.
		        <br/>Le budget classique est de <b>{{current_edition.total_budget}} €</b> et le budget bonus bière est de <b>{{current_edition.beer_budget}} €</b>.
                <br/><b>{{current_edition.total_bank}} €</b> ont été payés. Le reste à payer est de <b>{{current_edition.budget_due}} €</b>.
            </div>
        </div>
        <div class="row gtr-uniform" style="margin-bottom: 20px">
            <div class="col-12">
                <b>Répartition du budget bière :</b>
                <canvas id="beerDistribution"
                        style="margin-top: 20px; max-height: 300px; max-width: 300px">
                </canvas>
            </div>
        </div>
        <div class="row gtr-uniform" style="margin-bottom: 50px">
            <div class="col-12">
                <b>L'année précédente :</b>
                <br/><b>{{previous_edition.coming_count}}</b> personnes étaient présentes.
		        <br/>Le budget classique était de <b>{{previous_edition.total_budget}} €</b>.
		        <br/>Le budget bonus bière était de <b>{{previous_edition.beer_budget}} €</b>.

            </div>
        </div>

        <div class="row gtr-uniform" style="margin-bottom: 50px">
            <div class="col-12">
                <h4>Point votes des bières :</h4>
                <table>
                    <tr><td>L'Immor'Ale</td><td>{{current_edition.immor_ale_mean_votes}}</td></tr>
                    <tr><td>La Féod'Ale</td><td>{{current_edition.feod_ale_mean_votes}}</td></tr>
                    <tr><td>La Glaci'Ale</td><td>{{current_edition.glaci_ale_mean_votes}}</td></tr>
                    <tr><td>La Spectr'Ale</td><td>{{current_edition.spectr_ale_mean_votes}}</td></tr>
                    <tr><td>La Brut'Ale</td><td>{{current_edition.brut_ale_mean_votes}}</td></tr>
                    <tr><td>L'Infern'Ale</td><td>{{current_edition.infern_ale_mean_votes}}</td></tr>
                    <tr><td>L'Ancestr'Ale</td><td>{{current_edition.ancestr_ale_mean_votes}}</td></tr>
                    <tr><td>L'Abyss'Ale</td><td>{{current_edition.abyss_ale_mean_votes}}</td></tr>
                </table>
            </div>
        </div>

        <div class="row gtr-uniform" style="margin-bottom: 50px">
            <div class="col-12">
                <h4>Et sinon :</h4>
                <a class="button primary" href="/qui-vient">Y'a qui qui vient ?</a>
            </div>
        </div>

        <div class="row gtr-uniform" style="margin-bottom: 50px">
            <div class="col-12">
                <h4>Et aussi, mes éditions passées :</h4>
                {% for edition in previous_editions %}
                    <a class="button primary" href="/edition/{{edition.id}}">{{edition}}</a>
                {% endfor %}
            </div>
        </div>

        <div class="row gtr-uniform" style="margin-bottom: 50px">
            <div class="col-12">
                <h4>Quiz (quoi ? quelqu'un a dit quiz ?) :</h4>
                {% for quiz in published_quiz %}
                    <a class="button primary" href="/quiz/{{quiz.id}}">{{quiz}}</a>
                {% empty %}
                    Déso, pas de quiz pour l'instant
                {% endfor %}
            </div>
        </div>

        <script src="{% static 'davidshimjs-qrcodejs-04f46c6/qrcode.min.js' %}"></script>
        <script type="text/javascript">
            new QRCode(document.getElementById("signal_qrcode"), "{{signal_link}}");
            new QRCode(document.getElementById("signal_transport_qrcode"), "{{signal_transport_link}}");
        </script>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            const paidDistribution = {{paid_distribution}};
            const announcedDistribution = {{announced_distribution}};
            const unknownDistribution = {{unknown_distribution}};
        </script>
        <script src="{% static 'js/chart.js' %}"></script>
    </section>
{% endblock %}
