{% load static %}
<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Chucky Fest !</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'css/noscript.css' %}" /></noscript>
		<link href="{% static 'images/favicon.jpg' %}" rel="shortcut icon">
	</head>
	<body class="landing is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
<!--					<header id="header" class="alt">-->
<!--						<h1><a href="index.html">Spectral</a></h1>-->
<!--						<nav id="nav">-->
<!--							<ul>-->
<!--								<li class="special">-->
<!--									<a href="#menu" class="menuToggle"><span>Menu</span></a>-->
<!--									<div id="menu">-->
<!--										<ul>-->
<!--											<li><a href="index.html">Home</a></li>-->
<!--											<li><a href="generic.html">Generic</a></li>-->
<!--											<li><a href="elements.html">Elements</a></li>-->
<!--											<li><a href="#">Sign Up</a></li>-->
<!--											<li><a href="#">Log In</a></li>-->
<!--										</ul>-->
<!--									</div>-->
<!--								</li>-->
<!--							</ul>-->
<!--						</nav>-->
<!--					</header>-->

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<div style="
							  position: absolute;
							  left: 0;
							  background: #03396c;
							  width: 100px;
							  border-top-right-radius: 10px;
							  border-bottom-right-radius: 10px;
							  padding-top: 55px;
							  padding-bottom: 55px;
							  text-align: center;
							  z-index: 100;
							"
							>
							  {% for month, days in dates_by_month.items %}
							    <div style="font-size: 32px; font-weight: 900; padding-bottom: 10px{% if not forloop.first %}; margin-top: 45px{% endif %}">{{days|join:"-"}}</div>
							    <div style="font-size: 36px; font-weight: 900">{{month}}</div>
                              {% endfor %}
							</div>
							<h2>Chucky Fest {{years|join:"-"}} !</h2>
							<p>
								Parce que le confinement <strike>c'est</strike> c'était chouette, mais les copaines, c'est mieux !
							</p>
							<ul class="actions special">
								<li><a href="/chuckyyyyy" class="button primary">J'en suis !</a></li>
							</ul>
						</div>
						<a href="#one" class="more scrolly">Qu'est-ce tu baves ?</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>Chucky se déroulera cette année du {{start_date}} au {{end_date}}.</h2>
								<p>
									On sera probablement sur place le mercredi soir même, mais pas sûrs sûrs.
									<br />Plus personne le dimanche par contre on est sûrs, et pas sûr qu'à moitié,
									<br />Faut travailler le lundi hein, faut faire repartir la France !
									<br />Et pas n'importe quelle France, la France du Général de Gaulle.
								</p>
							</header>
						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><img src="{% static 'images/hide-the-pain-harold-meme.webp' %}" alt="" /></div><div class="content">
								<h2>Cette année, on innove pas</h2>
								<p>
									Non on a déjà innové <strike>l'année dernière</strike> en 2021, ça va bien, on garde le site tel quel parce qu'on en est pas peu fiers et c'est pas un wix.
									<br/>Les inscriptions se font ici, vous trouverez toutes les infos et toussa toussa.
								</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image">
								<a href="https://www.artstation.com/artwork/KrwKJ9" target="_blank">
									<img class="large-hidden"
										 src="{% static 'images/Antoine_Levi_COVID/00_MAIN_00193-rotate.jpg' %}" />
									<img class="small-hidden"
										 src="{% static 'images/Antoine_Levi_COVID/00_MAIN_00193.jpg' %}" />
								</a>
							</div>
							<div class="content">
								<h2>Infos COVID</h2>
								<p style="font-style: italic">
									Je laisse ce paragraphe, parce qu'Antoine avait bien bossé quand même.
								</p>
								<p>
									Jean-Robert, le cousin de l'oncle de mon pote, qui travaille au ministère a des preuves que tout ça n'existe pas ('fin jsais pas 'fin ptetr).
								</p>
								Pour de vrai,
								<ul>
									<li>cas contact : viens pas steuplé.</li>
									<li>cas pas contact : viens steuplé, mais fait toi tester ou/et vacciner avant.</li>
								</ul>
								<p>
									Le joli dégueu COVID à droite a été fait par <a href="https://www.artstation.com/antoinelevi" target="_blank">Antoine Levi</a>.
									<br />Merci beaucoup à lui, allez voir qu'est ce qu'il fait, c'est grave stylé !
									<br />Go liker, vous abonner, partager, activer la cloche !
								</p>
								<p>
									<strike>
										(On a gardé ça aussi comme ça parce que quand même il a de la gueule ce covid non ?)
									</strike>
									<br/>A ba j'avais déjà dit l'année dernière que je le gardais comme ça
								</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image">
								<img src="{% static 'images/IMG-20181210-WA0008.jpg' %}" alt="" />
							</div>
							<div class="content">
								<h2>Ici, c'est Jean-Pompon</h2>
								<p>C'est cadeau, c'est juste parce qu'il est super mignon.</p>
								<p style="font-size: 215px; padding-top: 140px; text-align: center; margin-bottom: 100px;">❤️</p>
							</div>
						</section>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Les 6 activités que ce merveilleux festival vous offre</h2>
								<p>Découvrez en avant première les activités les plus novatrices de la French Tech Festival Community de Saulzet.<br />
								La 11ème va vous surprendre.</p>
							</header>
							<ul class="features">
								<li class="icon solid fa-hippo">
									<h3>Le amusing</h3>
									<p>
									  <a href="https://www.youtube.com/watch?v=Ve6RyRduDoc" target="_blank" rel="noreferrer">
										"Rire c'est important, c'est bon pour le moral."
									  </a>
									  <br />
									  - Johann Schneider-Ammann - Président de la Confédération
									</p>
								</li>
								<li class="icon solid fa-bowling-ball">
									<h3>Le Pétanquing</h3>
									<p>
										Il s'agit juste de taper des boules creuses en métal d'un diamètre compris entre 7.05 et 8 cm et d'un poids compris entre 650 et 800g.
									</p>
								</li>
								<li class="icon solid fa-ship">
									<h3>Le Boat Floating</h3>
									<p>
										Si intéréssé, une équipe partira sûrement en boat floating accompagné de son fidèle cubis.
									</p>
								</li>
								<li class="icon solid fa-hotdog">
									<h3>Le Sausage Manging</h3>
									<p>
										Ne t'inquiète pas copain végétarien / musulman / juif ou juste allergique, Chucky sait qu'on est en 2021, veille sur tous les estomacs et il n'y aura pas que de l'animal mort.
									</p>
								</li>
								<li class="icon solid fa-dice">
									<h3>Le Board Gaming</h3>
									<p>
									  Parce qu'on croit fort au Père Noël, on se comporte bien toute l'année.
									  <br />
									  Il en résulte qu'on a pleins de jeux à essayer ensemble.
									</p>
								</li>
								<li class="icon solid fa-users">
									<h3>Le réseauting</h3>
									<p>
										Pour travailler son réseau professionnel même en vacances.
										<br />
										Mon Linkedin &nbsp;
										<a href="https://www.linkedin.com/in/emmanuel-mechin-07811349/"
										   target="_blank" class="icon brands fa-linkedin" rel="noreferrer">
											<span class="label">Linkedin d'Emmanuel Méchin</span>
										</a>
									</p>
								</li>
							</ul>
						</div>
					</section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Alors, convaincu.e ?</h2>
								<p>Pour de vrai, inscrivez-vous ici.</p>
							</header>
							<ul class="actions stacked">
								<li><a href="/chuckyyyyy" class="button fit primary">Je veux venir</a></li>
								<li><a class="button fit">Ne rien faire</a></li>
							</ul>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="https://gitlab.com/chuckyfest" class="icon brands fa-gitlab"><span class="label">Gitlab</span></a></li>
							<li><a href="mailto:chucky@chuckyfest.fr" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; ChuckyFest</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li><li>Covid: <a href="https://www.artstation.com/antoinelevi" target="_blank">Antoine Levi</a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
		<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
		<script src="{% static 'js/browser.min.js' %}"></script>
		<script src="{% static 'js/breakpoints.min.js' %}"></script>
		<script src="{% static 'js/util.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
	</body>
</html>