{% extends "base.html" %}
{% load static %}

{% block body %}
    <section>
        {% if success %}
            <div style="
            margin-bottom: 20px;
            background: #ef5e4a;
            width: 400px;
            border-radius: 2px;
            padding: 4px;
            color: white;
            text-align: center;">
                Check tes mails !
            </div>
        {% endif %}
        <form method="post" action="">
            {% csrf_token %}
            <div class="row gtr-uniform" style="margin-bottom: 50px">
                <div class="col-12">
                    <h4>t'as tu ton ptit mail ?</h4>
                    <input type="email" name="email" id="email"
                           autocomplete="email" placeholder="Mon email" />
                    <ul class="actions" style="margin-top: 20px">
                        <li>
                            <button type="submit" class="primary">Recevoir un mail de connexion</button>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </section>
{% endblock %}
