{% load static %}
<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Chucky Fest !</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<noscript><link rel="stylesheet" href="{% static 'css/noscript.css' %}" /></noscript>
		<link href="{% static 'images/favicon.jpg' %}" rel="shortcut icon">
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/">Chucky Fest !</a></h1>
<!--						<nav id="nav">-->
<!--							<ul>-->
<!--								<li class="special">-->
<!--									<a href="#menu" class="menuToggle"><span>Menu</span></a>-->
<!--									<div id="menu">-->
<!--										<ul>-->
<!--											<li><a href="index.html">Home</a></li>-->
<!--											<li><a href="generic.html">Generic</a></li>-->
<!--											<li><a href="elements.html">Elements</a></li>-->
<!--											<li><a href="#">Sign Up</a></li>-->
<!--											<li><a href="#">Log In</a></li>-->
<!--										</ul>-->
<!--									</div>-->
<!--								</li>-->
<!--							</ul>-->
<!--						</nav>-->
					</header>

				<!-- Main -->
					<article id="main">
						<header>
							{% block header %}
								<h2>Chucky revient en 2021 !</h2>
								<p>Et je veux venir !</p>
							{% endblock %}
						</header>
						<section class="wrapper style5">
							<div class="inner">
								{% block body %}{% endblock %}
							</div>
						</section>
					</article>

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="https://gitlab.com/chuckyfest" class="icon brands fa-gitlab"><span class="label">Gitlab</span></a></li>
							<li><a href="mailto:chucky@chuckyfest.fr" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; ChuckyFest</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</footer>

			</div>

			<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'js/browser.min.js' %}"></script>
			<script src="{% static 'js/breakpoints.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>
	</body>
</html>